:root {
  --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightpink; */
}
.card {
  /* background-image: url("hypno.gif"); 
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-image: var(--gradient); */
  background-position: center;
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  background-size: 100%;
  /* animation: bg-animation 1s infinite alterntate; */
}

/* @keyframes bg-animation {
  0% {
    background-position: left;
  }
  100%{
    background-position: right;
  }
} */

.nft {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  z-index: 2;
}
.nft img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 300px;
  /* width: 20rem; */
  /* z-index: 2; */
  transition: all 0.75s ease-out;
}

.info h1 {
  color: red;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  transition: all 0.75s ease-out;
}
.info h3 {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: lightgray;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  transition: all 0.75s ease-out;
}

.size {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}

.size button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: rgba(255, 76, 92);
}

.button.active {
  background-color: lightgrey;
  color: white;
}

.purchase {
  margin-top: 5rem;
  transition: all 0.75s ease-out;
}

.purchase button {
  width: 100%;
  padding: 1rem 0rem;
  background-color: rgba(255, 76, 92);
  border: none;
  color: white;
  cursor: point;
  border-radius: 30px;
  font-size: bolder;
}
